body {
font-family: "Playfair Display", serif;
margin: 0;
}
section {
    max-width: 1200px;
    margin: 0 auto;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

header {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
max-width: 1512px;
height: 1100px;
box-sizing: border-box;
background-image:
linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 8)),
url('../images/nicki-background.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center 5%; 
padding: 285px 383px;
}
header h1 {
font-weight: 700;
font-size: 64px;
line-height: 1;
text-align: center;
letter-spacing: 0%;
color: white;
margin: 30px 0;
}
header h2 {
font-weight: 400;
font-size: 40px;
line-height: 1.5;
letter-spacing: 0%;
text-align:center;
color: white;
width: 795px;
max-width: 100%;
opacity: 1;
}
header h3 {
font-weight: 900;
font-size: 24px;
line-height: 1.5;
text-align: center;
letter-spacing: 5px;
color: white;
margin: 0;
}
header a {
display: inline-block;
margin-top: 32px;
border-radius: 100px;
padding: 16px 32px;
background-color: #885DF1;
color: white;
font-weight: 600;
font-size: 14px;
line-height: 1.5;
letter-spacing: 0px;
text-align: center;
text-decoration: none;
}

footer {
    background-image: linear-gradient(rgba(2,4,3,0.9),rgba(2,4,3,0.9)),url('../images/nicki-footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 100px 0;
}
footer h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
}
footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    margin-right: 20px;
    opacity: 0.7;
}
footer ul {
    padding: 0;
}
footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer a {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    opacity: 0.7;
}


@media (max-width: 960px) {
header {
padding: 60px 0;
}
header h1 {
font-size: 32px;
}
header h2 {
font-size: 20px;
}
header h3 {
font-size: 12px;
}
}